.scrollup {
  position: fixed;
  bottom: 50px;
  display: none;
  width: 80px;
  height: 100px;
  text-indent: -9999px;
  background: url(../images/arrow.png) 50% 20% no-repeat;
}

.scroll-title {
  position: relative;
  top: 15px;
  text-align: center;
  text-indent: 0;
  color: #fff;
}

a.scrollup {
  z-index: 10;
  border-bottom: 0;
  border-bottom-style: none;
}

.scrollup:hover {
  text-decoration: none;
}
